/* Color Palette */
:root {
  --primary-color: #FF6B6B;   /* Primary color */
  --secondary-color: #FFD166; /* Secondary color */
  --accent-color: #06D6A0;    /* Accent color */
  --text-color: #333333;      /* Text color */
  --background-color: #F1FAEE; /* Background color */
}

/* Example usage */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  color: var(--primary-color);
}

button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

a {
  color: var(--accent-color);
}
nav {
  background-color: var(--primary-color);
}

.navimg{
  position: absolute;
  margin-top: 0px;
}

