/* Color Palette */
:root {
  --primary-color: #fbded4;   /* Primary color */
  --secondary-color: #191716; /* Secondary color */
  --third-color: #e6256f;    /* Accent color */
  --four-color: #958580;      /* Text color */
  --background-color: #746c64; /* Background color */
  --fifht-color: #f48caa;     /* Light color */
}

/* Example usage */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navbar */
.mynavbar {
  background: linear-gradient(to right, var(--primary-color) 0%, var(--fifht-color) 100%);
}
.nav-link {
  color: white;
  font-weight: 700;
  font-size: 18px;
}


