/* Color Palette */
:root {
  --primary-color: #fbded4;   /* Primary color */
  --secondary-color: #191716; /* Secondary color */
  --third-color: #e6256f;    /* Accent color */
  --four-color: #958580;      /* Text color */
  --background-color: #746c64; /* Background color */
  --fifht-color: #f48caa;     /* Light color */
}

/* Example usage */
body {
  background-color: var(--primary-color);
  color: var(--four-color);
}

/* Navbar */
.mynavbar {
  background: linear-gradient(to right, var(--primary-color) 0%, var(--fifht-color) 100%);
}
.nav-link {
  color: white;
  font-weight: 700;
  font-size: 2vh;
}
.banner {
  background-color: var(--third-color);
  color: var(--primary-color);
}

.about{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 11vh;
}
.main-title {
  font-size: 72px;
  font-weight: 700;
}
.main-P {
  font-size:2vh;
  font-weight: 350;
}
.face{

  height: 450px;
}
.main-btn {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  background-color: var(--fifht-color);
  padding: 15px 50px;
  border-radius: 35px;

}
.main-btn:hover {
  
  color: var(--primary-color);
}

    .card {
      border: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;
      background-color: var(--four-color);
      color: white;
      overflow: hidden;
    }

    .card:hover {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    .card-img-top {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border: var(--four-color) 2px solid;
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
    }

    .card-text {
      font-size: 14px;
      color: white;
    }

    .btn-primary {
      background-color: var(--fifht-color);
      border-color: var(--third-color);
      color: white;
    }

    .btn-primary:hover {
      background-color: var(--third-color);
      border-color: var(--fifht-color); 
      color: white;
    }
